@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');

.App {
  height: 100vh;
  width: 100vw;
  background-color: darkslategrey;
  font-family: 'Mouse Memoirs', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  font-size: 50px;
  color: burlywood;
  margin-top: 30px;
}

@media (max-width: 800px) {
  .heading {
    margin: 15px;
    font-size: 35px;
  }
}

.no-data {
  margin-top: 20px;
  font-size: 50px;
  color:rgb(48, 48, 48);
}

.divider {
  border-top: 5px groove rgb(67, 112, 112);
  width: 80%;
  margin-top: 20px;
}